.board {
    border: 1px solid var(--border-color);
    width: min(100vw, 600px);
    height: min(100vw, 600px);
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.cell {
    background-color: var(--empty-color);
    border: 1px solid var(--border-color);
}

.O {
    background-color: var(--empty-color);
}

S {
    background-color: var(--visited-color);
}

.W {
    background-color: var(--wall-color);
}

.G {
    background-color: var(--goal-color);
}

.visited {
    background-color: var(--visited-color);
}

.path {
    background-color: var(--path-color);
}