@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "roboto", sans-serif;
    --empty-color: #FDF7E4;
    --border-color: #E3E3E3;
    --wall-color: #6C5F5B;
    --goal-color: #FFB000;
    --visited-color: #E25E3E;
    --path-color: #004225;
    --light-metallic-color: #AFB0B3;
    --dark-metallic-color: #838487;
    --blue-light-color: #26F7FD;
    --orange-light-color: #FDAA48;
    --blue-light-filter: 
    brightness(0) 
    saturate(100%) 
    invert(83%) 
    sepia(40%) 
    saturate(1886%) 
    hue-rotate(140deg) 
    brightness(103%) 
    contrast(98%);
    --orange-light-filter: 
    brightness(0) 
    saturate(100%) 
    invert(78%) 
    sepia(16%) 
    saturate(2227%) 
    hue-rotate(329deg) 
    brightness(102%) 
    contrast(98%);
}

#root {
    width: 100%;
    padding: 4rem 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    background-image: url("../assets/images/background.svg");
    background-size: contain;
    position: relative;
}

.stats-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    height: fit-content;
    right: 13vw;
    margin: auto 0;

    background-image: url("../assets/images/background.svg");
    padding: 1rem;
    border-radius: 10px;
    border: 5px outset var(--light-metallic-color);
    box-shadow: 0px 5px 15px -2px black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.stats-modal span {
    font-weight: normal;
}



@media only screen and (width < 1500px) {
    #root {
        flex-direction: column;
        gap: 1.5rem;
    }

    .stats-modal {
        position: static;
    }
}