@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "roboto", sans-serif;
    --empty-color: #FDF7E4;
    --border-color: #E3E3E3;
    --wall-color: #6C5F5B;
    --goal-color: #FFB000;
    --visited-color: #E25E3E;
    --path-color: #004225;
    --light-metallic-color: #AFB0B3;
    --dark-metallic-color: #838487;
    --blue-light-color: #26F7FD;
    --orange-light-color: #FDAA48;
    --disabled-color: #808080;
    --blue-light-filter: 
    brightness(0) 
    saturate(100%) 
    invert(83%) 
    sepia(40%) 
    saturate(1886%) 
    hue-rotate(140deg) 
    brightness(103%) 
    contrast(98%);
    --orange-light-filter: 
    brightness(0) 
    saturate(100%) 
    invert(78%) 
    sepia(16%) 
    saturate(2227%) 
    hue-rotate(329deg) 
    brightness(102%) 
    contrast(98%);
    --disabled-filter:
    brightness(0) 
    saturate(100%) 
    invert(50%) 
    sepia(38%) 
    saturate(0%) 
    hue-rotate(182deg) 
    brightness(93%) 
    contrast(87%);
    scrollbar-color: var(--wall-color) #BBAA99;
}

#root {
    width: 100%;
    padding: 4rem 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    background-image: url("../assets/images/background.svg");
    background-size: contain;
    position: relative;
}