@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "roboto", sans-serif;
    --empty-color: #FDF7E4;
    --border-color: #E3E3E3;
    --wall-color: #6C5F5B;
    --goal-color: #FFB000;
    --visited-color: #E25E3E;
    --path-color: #004225;

}

#root {
    width: 100vw;
    min-height: 100vh;
}