.maze-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    z-index: 1;
    touch-action: none;
}

.maze-wrapper.editing::after {
    content: "Editing";
    color: var(--blue-light-color);
    font-size: 3rem;
    width: 100%;
    padding: .5rem 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 5%;
    pointer-events: none;
}

.maze-wrapper.editing::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: radial-gradient(black, rgb(0, 0, 0, 0));
    pointer-events: none;
}

.search-controls, .search-movement, .btn-grouping {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.search-controls, .search-movement {
    padding: 0 1rem;
}

.btn-grouping {
    width: initial;
}

button {
    display: flex;
    gap: .3rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-family: "roboto";
    font-weight: bold;
    letter-spacing: .02rem;
    color: var(--blue-light-color);
    padding: .5rem .6rem;
    background-color: var(--dark-metallic-color);
    background-image: linear-gradient(var(--light-metallic-color), 70%, var(--dark-metallic-color));
    border-radius: 10px;
    box-shadow: 0px 5px 10px -1px black;
    will-change: scale;
    transition: transform .1s linear;
    --filter: var(--blue-light-filter);
    user-select: none;
}

.editing button:not(.edit-btn) {
    cursor: no-drop;
    color: var(--disabled-color);
    --filter: var(--disabled-filter);
}

.maze-wrapper:not(.editing) button:hover, 
.maze-wrapper:not(.editing) button:active,
.maze-wrapper + .edit-modal button:hover,
.maze-wrapper + .edit-modal button:active,
.edit-btn:hover, .edit-btn:active {
    transform: scale(1.1);
    color: var(--orange-light-color);
    --filter: var(--orange-light-filter);
}

.maze-wrapper:not(.editing) button:active,
.maze-wrapper + .edit-modal button:active,
.edit-btn:active {
    box-shadow: 0px 5px 10px -1px inset black;
}

.active {
    color: var(--orange-light-color);
}

button img {
    filter: var(--filter);
}

button img {
    width: clamp(20px, 18px + 1vw, 25px)
}

.randomize-btn img {
    transform: rotate(45deg);
}

.play-pause-btn.play img {
    content: url("../assets/images/play.svg");
}

.play-pause-btn.pause img {
    content: url("../assets/images/pause.svg");
}

.speed-btn::before {
    display: inline-block
}

.speed-btn.one::before {
    content: "1x";
}

.speed-btn.two::before {
    content: "2x";
}

.speed-btn.five::before {
    content: "5x";
}

.speed-btn.max::before {
    content: "500x";
}

.speed-btn.-one::before {
    content: "-1x";
}

.speed-btn.-two::before {
    content: "-2x";
}

.speed-btn.-five::before {
    content: "-5x";
}

.speed-btn.-max::before {
    content: "-500x";
}

.stats-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    height: fit-content;
    right: 13vw;
    margin: auto 0;

    background-image: url("../assets/images/background.svg");
    background-size: cover;
    padding: 1rem;
    border-radius: 10px;
    border: 5px outset var(--light-metallic-color);
    box-shadow: 0px 5px 15px -2px black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.stats-modal span {
    font-weight: normal;
}

.edit-modal {
    position: fixed;
    width: fit-content;
    left: 0;
    right: 0;
    top: 25%;
    margin: 0 auto;
    background-image: url("../assets/images/background.svg");
    background-size: cover;
    padding: 1rem;
    border-radius: 10px;
    border: 5px outset var(--light-metallic-color);
    box-shadow: 0px 5px 15px -2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1;
}

.edit-modal p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    font-weight: bold;
}

.exit-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
}

.exit-wrapper button {
    padding: .4rem;
}

.edit-btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edit-modal.hidden {
    visibility: hidden;
}

.edit-instruction::before {
    content: "Click and drag to place.";
    display: inline-block;
}

.cancel-instruction::before {
    content: "Right-click to cancel editing.";
    display: inline-block;
}



@media only screen and (width < 1600px) {
    #root {
        flex-direction: column;
        gap: 1.5rem;
    }

    .stats-modal {
        position: static;
    }
}

@media (hover: none) {
    .edit-instruction::before {
        content: "Touch and drag to place.";
        display: inline-block;
    }
    .cancel-instruction::before {
        content: "Long press to cancel.";
        display: inline-block;
    }
    
}